.navbar, .aboutMe, .aboutMeText, .resumeButton, .copyright {
    font-family: 'Varela Round';
}

.aboutMe {
    margin-top: 20%;
    margin-left: 5%;
}

.responsiveImage {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutMeText {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
}

/* Social Icons */
.socialIcons {
    text-align: center;
    margin-top: 10%;
}

#mail, #linkedin, #twitter, #github, #dribbble {
    margin: 10px;
  }
  
#mail {
color: black;
}

#linkedin {
color: #2867B2;
}

#twitter {
color: #1DA1F2;
}

#github {
color: #211F1F;
}

#dribbble {
color: #ea4c89  ;
}

.resumeButton {
    display: block;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
    border: none;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: black;
}

.resumeButton:hover {
    color: white;
    text-decoration: none
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.75em;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 400px) {
    #desktopLayout {
        display: none;
    }

    
}

@media only screen and (max-width: 768px) {
    #desktopLayout {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #mobileLayout {
        display: none;
    }

    #desktopLayout {
        display: flex;
        align-items: center;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .responsiveImage {
        float: left;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 5%;
    }

    .aboutContent {
        margin-right: 5%;
    }

    .aboutMe {
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: 0%;
    }

    .aboutMeText {
        display: inline;
        font-size: 1em;
        margin-left: 0%;
    }

    .socialIcons {
        margin-top: 5%;
    }

    .resumeButton {
        width: 40%;
        margin: 5%;
    }
}