.navbar, .hero-text, .button, #desktopMemojiHeader, #mobileHeadline, .card, .copyright, #MobileFooter, .footerCard, .sectionHeading, .rectangleContent {
    font-family: 'Varela Round';
}

/* Body  */
body, html {
    height: 100%;
}

#desktopMemojiHeader {
    height: 100%;
    color: white;
    background: #494949;
    background: -webkit-radial-gradient(center, #494949, #000000);
    background: -moz-radial-gradient(center, #494949, #000000);
    background: radial-gradient(ellipse at center, #494949, #000000);
    text-align: center;
    padding-top: 10%;
}

#desktopMemojiHeader h1 {
    font-size: 4em;
}

#desktopMemojiHeader h5 {
    font-size: 1.8em;
    margin-left: 30%;
    margin-right: 30%;
}

#memojiHeaderImage {
    margin-top: 2%;
    width: 80%;
}

#mobileMemojiHeader {
    height: 100%;
    background-color: black;
}

#memojiVideo {
    width: 100%;
    padding-top: 25%;
}

#mobileHeadline {
    text-align: center; 
    color: white;
    padding-top: 15%;
}

#mobileHeadline h1 {
    font-size: 2.5em;
}

#mobileHeadline h5 {
    font-size: 1.4em;
}

#mobileSocialLinks {
    text-align: center;
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    background-color: white;
}


#mail, #linkedin, #twitter, #github, #dribbble {
    margin: 8px;
}
  
#mail {
color: black;
}

#linkedin {
color: #2867B2;
}

#twitter {
color: #1DA1F2;
}

#github {
color: #211F1F;
}

#dribbble {
color: #ea4c89  ;
}

/* Banner Button */
.button {
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: none;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    color: black;
    background-color: white;
}

/* About Me Sections */
.sectionHeading {
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%; 
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Square Frames */
.square {
    float: left;
    position: relative;
    width: 80%;
    padding-bottom: 90%; /* = width for a 1:1 aspect ratio */
    margin: 1.66%;

    background-color:#1E1E1E;
    overflow: hidden;

    border: none !important;
    border-top-right-radius: calc(.75rem - 1px) !important;
    border-top-left-radius: calc(.75rem - 1px) !important;
    border-bottom-right-radius: calc(.75rem - 1px) !important;
    border-bottom-left-radius: calc(.75rem - 1px) !important;
}

.squareContent {
    position: absolute;
    height: 100%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    margin: 0% 0%;
}

.table {
    display:table;
    height:100%;
    width:100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}


.rectangle {
    float: left;
    /* position: relative; */
    width: 80%;
    padding-bottom: 2%;
    margin: 1.66%;

    overflow: hidden;

    border: none !important;
    border-top-right-radius: calc(.75rem - 1px) !important;
    border-top-left-radius: calc(.75rem - 1px) !important;
    border-bottom-right-radius: calc(.75rem - 1px) !important;
    border-bottom-left-radius: calc(.75rem - 1px) !important;
}

.rectangleIcon {
    /* position: absolute; */
    height: 80px;
    width: 80px;

    text-align: center;
    align-items: center;

    font-size: 3em;

    padding: 5px 0;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;

    border: none !important;
    border-top-right-radius: calc(.75rem - 1px) !important;
    border-top-left-radius: calc(.75rem - 1px) !important;
    border-bottom-right-radius: calc(.75rem - 1px) !important;
    border-bottom-left-radius: calc(.75rem - 1px) !important;
}

.rectangleContent {
    /* position: absolute; */
    height: 80%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 3%;
    font-size: 1.2em;
}


/* Card */
.card {
    width: 18rem;
    font-family: 'Varela Round';
    margin: 40px;
    margin-bottom: 40px;
    border: none !important;
    border-top-right-radius: calc(.75rem - 1px) !important;
    border-top-left-radius: calc(.75rem - 1px) !important;
    border-bottom-right-radius: calc(.75rem - 1px) !important;
    border-bottom-left-radius: calc(.75rem - 1px) !important;
  }
  
.card-img-top {
border-top-right-radius: calc(.75rem - 1px) !important;
border-top-left-radius: calc(.75rem - 1px) !important;
border-bottom-right-radius: calc(.75rem - 1px) !important;
border-bottom-left-radius: calc(.75rem - 1px) !important;
}

.card-title {
margin-bottom: 0 !important;
}

#MobileFooter {
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 5%;
}

.footerCard {
    text-align: center;
    font-size: 1.6em;
    margin: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
}

#emailFooterCard {
    color: black;
    background-color: white;;
}

#linkedinFooterCard {
    color: white;
    background-color: #2867B2;;
}

#twitterFooterCard {
    color: white;
    background-color: #1DA1F2;;
}

#DesktopFooterLink {
    text-decoration: none;
}

#DesktopFooter {
    font-family: 'Varela Round';
    margin-top: 1.5%;
    padding-bottom: 5%;
}

#DesktopFooter .footerCard {
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 0%;
    width: 18%;
}

#DesktopFooter .footerCard h1 {
    font-size: 1.2em;
    margin-bottom: 0px;
}

/* Copyright */
.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.75em;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Colors */
.blueLight {
    color: #007AFF;
}

.blueDark {
    color: #0A84FE;
}

.BUred {
    background-color: #DE0000;
}

.SHPEblue {
    background-color: #001F5B;
}






/* All Phones */
@media only screen and (max-width: 768px) {
    #desktopMemojiHeader {
        display: none;
    }

    #DesktopFooter {
        display: none;
    }

    #desktopSquare1, #desktopSquare2 {
        display: none;
    }

    .card {
        width: 100% !important;
        margin: 40px !important;
        margin-top: 0px !important;
        margin-bottom: 30px !important;
    }
}






/* Small Phones */
@media only screen and (max-width: 360px) {
    #mobileHeadline {
        padding-top: 5%;
    }
    
    #mobileHeadline h1 {
        font-size: 2.0em;
    }
    
    #mobileHeadline h5 {
        font-size: 1.2em;
    }
    
    #mobileSocialLinks {
        text-align: center;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 12px;
        background-color: white;
    }
    
    
    #mail, #linkedin, #twitter, #github, #dribbble {
        margin: 8px;
    }


    .card {
        margin: 20px !important;
    }
}


@media only screen and (max-width: 900px) and (orientation : landscape) {
    #desktopMemojiHeader {
        padding-bottom: 450px;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {

    #mobileMemojiHeader {
        display: none;
    }

    .sectionHeading {
        margin-left: 1.68%;
        margin-right: 1.68%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .square {
        width: 45%;
        padding-bottom: 50%; /* = width for a 1:1 aspect ratio */
        margin: 1.66%;
    }

    .rectangle {
        width: 45%;
        /* padding-bottom: 0%; = width for a 1:1 aspect ratio */
        margin: 1.66%;
    }

    .rectangleIcon {
        height: 100px;
        width: 100px;
        font-size: 3.5em;

        padding: 8px 0;
        margin-left: 2%;
    }

        .rectangleContent {
            padding-bottom: 0%;
            font-size: 1.5em;
        }
        

    #mobileSquare1, #mobileSquare2 {
        display: none;
    }

    #mobileSocialLinks {
        display: none;
    }    

    #bannerButton {
        display: none;
    }    

    #aboutMeMobileCard {
        display: none;
    }

    #MobileFooter {
        
        display: none;
    }
}
